.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(15 15 15);
}

.preview {
  height: 630px;
  width: 1200px;
  background: rgba(83, 186, 266, 0.8);
  color: rgb(254 254 254);
  position: relative;
}

.main {
  position: relative;
  z-index: 2;

  font-size: 1.25rem;
  height: calc(100% - 4rem);
  margin: 2rem;
  padding: 2rem;
  border: 3px solid white;
  border-color: white;
  display: grid;
  gap: 2rem;
  grid-template-rows: 1fr auto auto 1fr auto auto auto;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-areas:
    '. . .'
    'title title .'
    'tags tags .'
    'url url url'
    '. . .'
    '. attribution attribution'
    'author attribution attribution';
}

.image {
  position: absolute;
  z-index: 1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  filter: grayscale(100%);
  opacity: 0.5;
  mix-blend-mode: overlay;
  margin: 0;
}

.h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 600;
  grid-area: title;
  line-height: 3.25rem;
}

.tag_list {
  grid-area: tags;
  font-size: 1.25em;
}

.tag_ul {
  font-size: 1.5em;

  color: white;
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.tag_li {
  margin: 0;
  display: inline-block;
}

.url {
  grid-area: url;
  display: block;
  font-size: 1.5em;
}

.author {
  grid-area: author;
  display: block;
  font-size: 2em;
}

.attribution {
  grid-area: attribution;
  font-size: 0.8em;
  text-align: right;
  align-self: end;
  margin: 0;
}

.attribution_by {
  display: block;
}