.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(15, 15, 15);
}
.preview {
    position: relative;
    width: 1200px;
    height: 630px;
    background: rgba(83, 186, 266, 0.8);
    color: rgb(254, 254, 254);
}
.main {
    position: relative;
    z-index: 2;
    display: grid;
    height: calc(100% - 4rem);
    margin: 2rem;
    padding: 2rem;
    border: 3px solid #fff;
    border-color: #fff;
    font-size: 1.25rem;
    gap: 2rem;
    grid-template:
        ' . . .'
        'title title .'
        'tags tags .'
        'url url url'
        ' . . .'
        ' . attribution attribution'
        'author attribution attribution'
        / 3fr 2fr 1fr
        1fr auto auto 1fr auto auto auto;
}
.image {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0.5;
    object-fit: cover;
    object-position: center center;
    filter: grayscale(100%);
    mix-blend-mode: overlay;
}
.h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 600;
    grid-area: title;
    line-height: 3.25rem;
}
.tag_list {
    grid-area: tags;
    font-size: 1.25em;
}
.tag_ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #fff;
    list-style: none;
}
.tag_li {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}
.url {
    grid-area: url;
    display: block;
    font-size: 1.5em;
}
.author {
    grid-area: author;
    display: block;
    font-size: 2em;
}
.attribution {
    align-self: end;
    margin: 0;
    font-size: 0.8em;
    text-align: right;
    grid-area: attribution;
}
.attribution_by {
    display: block;
}
