html {
  font-size: 100;
}

body {
  margin: 0 0 0 calc(100vw - 100%);
  color: #222;
  line-height: 1.625;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-top: 6.5rem;
  margin-bottom: 1.625rem;
}

h2 {
  font-size: 1.6875rem;
  line-height: 2.4375rem;
}

h2,
h3 {
  margin-top: 3.25rem;
  margin-bottom: 0.8125rem;
}

h3 {
  font-size: 1.375rem;
  line-height: 1.625rem;
}

h4 {
  font-size: 1.2rem;
  margin-top: 2.4375rem;
}

h4,
h5 {
  line-height: 1.625rem;
  margin-bottom: 0.8125rem;
}

h5,
h6 {
  font-size: 1rem;
  margin-top: 4.0625rem;
}

h6 {
  line-height: 1.625rem;
  margin-bottom: 0.8125rem;
}

img {
  max-width: 100%;
  margin: inherit auto;
}

hr,
img {
  border: 0;
  display: block;
}

hr {
  color: #222;
  height: 1.625rem;
  margin: 3.25rem auto;
  background-size: 100% 26px;
  background-image: linear-gradient(
    180deg,
    transparent 1px,
    transparent 11px,
    #222 0,
    #222 15px,
    transparent 0,
    transparent 26px
  );
  width: 6.25rem;
}

a {
  color: #5d93ff;
  text-decoration: none;
  word-break: break-all;
}

a:active,
a:focus,
a:hover {
  color: #f7a046;
}

b,
strong {
  font-weight: 600;
}

ul {
  list-style: square;
  margin-bottom: 1.625rem;
}

ul li {
  padding: 0 0.3125rem;
  margin-bottom: 0.625rem;
}

p {
  line-height: 1.625rem;
  margin-bottom: 1.625rem;
}

blockquote {
  padding: 0;
  font-style: italic;
  text-align: center;
}

figure {
  display: block;
  width: 100%;
  height: auto;
}

figcaption {
  line-height: 1.21875rem;
  margin-top: 0.40625rem;
  color: #222;
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}

.anchor {
  margin-left: -1.875rem !important;
  padding-right: 0.875rem !important;
}

iframe {
  width: 100% !important;
  height: calc(59.0625rem * 0.666) !important;
}

@media screen and (min-width: 685px) {
  figure.float-left,
  figure.float-right {
    max-width: 19.375rem;
    padding: 0 1.625rem;
  }

  .float-right {
    float: right;
  }

  .float-left {
    float: left;
  }
}

/* code[class*='language-'],
pre[class*='language-'] {
  color: #657b83;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*='language-']::selection,
code[class*='language-'] ::selection,
pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  background: #073642;
}

pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background-color: #fdf6e3;
}

:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #93a1a1;
}

.token.punctuation {
  color: #586e75;
}

.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: #268bd2;
}

.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string,
.token.url {
  color: #2aa198;
}

.token.entity {
  color: #657b83;
  background: #eee8d5;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #859900;
}

.token.class-name,
.token.function {
  color: #b58900;
}

.token.important,
.token.regex,
.token.variable {
  color: #cb4b16;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.Author-module--author__photo--36xCH {
  display: inline-block;
  margin-bottom: 0;
  border-radius: 50%;
  background-clip: padding-box;
}

.Author-module--author__title--2CaTb {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.82813rem;
  margin: 0.8125rem 0;
}

.Author-module--author__title-link--Yrism,
.Author-module--author__title-link--Yrism:focus,
.Author-module--author__title-link--Yrism:hover {
  color: #222;
}

.Author-module--author__subtitle--cAaEB {
  color: #888;
  line-height: 1.625rem;
  margin-bottom: 1.625rem;
}

.Icon-module--icon--Gpyvw {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  font-style: normal;
  font-weight: 400;
  speak: none;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Contacts-module--contacts--1rGd1 {
  margin-bottom: 1.625rem;
}

.Contacts-module--contacts__list--3OgdW {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 0;
  flex-shrink: 0;
  list-style: none;
  padding: 0;
  margin: 0.625rem -0.1875rem;
  width: 8.75rem;
}

.Contacts-module--contacts__list-item--16p9q {
  padding: 0;
  margin: 0.25rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 2.1875rem;
  width: 2.1875rem;
  line-height: 2.1875rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #ebebeb;
}

.Contacts-module--contacts__list-item-link--2MIDn {
  border: 0;
  display: flex;
  color: #222;
}

.Contacts-module--contacts__list-item-link--2MIDn:focus,
.Contacts-module--contacts__list-item-link--2MIDn:hover {
  color: #5d93ff;
}

.Copyright-module--copyright--1ariN {
  color: #b6b6b6;
  font-size: 0.875rem;
}

.Menu-module--menu--Efbin {
  margin-bottom: 1.625rem;
}

.Menu-module--menu__list--31Zeo {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Menu-module--menu__list-item--1lJ6B {
  padding: 0;
  margin: 0.625rem 0;
}

.Menu-module--menu__list-item-link--10Ush {
  font-size: 1rem;
  color: #222;
  font-weight: 400;
  border: 0;
}

.Menu-module--menu__list-item-link--10Ush:focus,
.Menu-module--menu__list-item-link--10Ush:hover {
  color: #5d93ff;
  border-bottom: 1px solid #5d93ff;
}

.Menu-module--menu__list-item-link--active--2CbUO {
  color: #222;
  border-bottom: 1px solid #222;
}

.Sidebar-module--sidebar--X4z2p {
  width: 100%;
}

.Sidebar-module--sidebar__inner--Jdc5s {
  position: relative;
  padding: 1.5625rem 1.25rem 0;
}

@media screen and (min-width: 685px) {
  .Sidebar-module--sidebar--X4z2p {
    width: calc(41.625% - 1.09375rem);
  }

  .Sidebar-module--sidebar--X4z2p:nth-child(1n) {
    float: left;
    margin-right: 1.875rem;
    clear: none;
  }

  .Sidebar-module--sidebar--X4z2p:last-child {
    margin-right: 0;
  }

  .Sidebar-module--sidebar--X4z2p:nth-child(12n) {
    margin-right: 0;
    float: right;
  }

  .Sidebar-module--sidebar--X4z2p:nth-child(12n + 1) {
    clear: both;
  }

  .Sidebar-module--sidebar__inner--Jdc5s {
    padding: 1.875rem 1.25rem 0;
  }

  .Sidebar-module--sidebar__inner--Jdc5s:after {
    background: #e6e6e6;
    background: linear-gradient(180deg, #e6e6e6 0, #e6e6e6 48%, #fff);
    position: absolute;
    content: '';
    width: 0.0625rem;
    height: 33.75rem;
    top: 30px;
    right: -10px;
    bottom: 0;
  }
}

@media screen and (min-width: 960px) {
  .Sidebar-module--sidebar--X4z2p {
    width: calc(33.3% - 1.25rem);
  }

  .Sidebar-module--sidebar--X4z2p:nth-child(1n) {
    float: left;
    margin-right: 1.875rem;
    clear: none;
  }

  .Sidebar-module--sidebar--X4z2p:last-child {
    margin-right: 0;
  }

  .Sidebar-module--sidebar--X4z2p:nth-child(3n) {
    margin-right: 0;
    float: right;
  }

  .Sidebar-module--sidebar--X4z2p:nth-child(3n + 1) {
    clear: both;
  }

  .Sidebar-module--sidebar__inner--Jdc5s {
    padding: 2.5rem;
  }
}

.Layout-module--layout--3Pyz6 {
  max-width: 66.875rem;
  margin-left: auto;
  margin-right: auto;
}

.Layout-module--layout--3Pyz6:before {
  content: '';
  display: table;
}

.Layout-module--layout--3Pyz6:after {
  content: '';
  display: table;
  clear: both;
}

.Feed-module--feed__item--2D5rE {
  margin-bottom: 2.03125rem;
}

.Feed-module--feed__item--2D5rE:last-child {
  margin-bottom: 0.8125rem;
}

.Feed-module--feed__item-title--3nigr {
  font-size: 1.6875rem;
  line-height: 2.4375rem;
  margin-top: 0;
  margin-bottom: 0.8125rem;
}

.Feed-module--feed__item-title-link--iFMRs {
  color: #222;
}

.Feed-module--feed__item-title-link--iFMRs:focus,
.Feed-module--feed__item-title-link--iFMRs:hover {
  color: #222;
  border-bottom: 1px solid #222;
}

.Feed-module--feed__item-description--1uO8e {
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 1.21875rem;
  word-break: break-all;
}

.Feed-module--feed__item-meta-time--3t1fg {
  font-size: 0.875rem;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
}

.Feed-module--feed__item-meta-divider--N-Q0A {
  margin: 0 0.3125rem;
}

.Feed-module--feed__item-meta-category-link--23f8F {
  font-size: 0.875rem;
  color: #f7a046;
  font-weight: 600;
  text-transform: uppercase;
}

.Feed-module--feed__item-meta-category-link--23f8F:focus,
.Feed-module--feed__item-meta-category-link--23f8F:hover {
  color: #5d93ff;
}

.Feed-module--feed__item-readmore--1u6bI {
  font-size: 1rem;
  color: #5d93ff;
}

.Feed-module--feed__item-readmore--1u6bI:focus,
.Feed-module--feed__item-readmore--1u6bI:hover {
  color: #5d93ff;
  border-bottom: 1px solid #5d93ff;
}

.Page-module--page--2nMky {
  margin-bottom: 3.25rem;
}

.Page-module--page__inner--2M_vz {
  padding: 1.5625rem 1.25rem;
}

.Page-module--page__title--GPD8L {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.25rem;
  margin-top: 0;
  margin-bottom: 2.35625rem;
}

.Page-module--page__body--Ic6i6 {
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0 0 1.625rem;
}

@media screen and (min-width: 685px) {
  .Page-module--page--2nMky {
    width: calc(58.275% - 0.78125rem);
  }

  .Page-module--page--2nMky:nth-child(1n) {
    float: left;
    margin-right: 1.875rem;
    clear: none;
  }

  .Page-module--page--2nMky:last-child {
    margin-right: 0;
  }

  .Page-module--page--2nMky:nth-child(12n) {
    margin-right: 0;
    float: right;
  }

  .Page-module--page--2nMky:nth-child(12n + 1) {
    clear: both;
  }

  .Page-module--page__inner--2M_vz {
    padding: 1.875rem 1.25rem;
  }
}

@media screen and (min-width: 960px) {
  .Page-module--page--2nMky {
    width: calc(66.6% - 0.625rem);
  }

  .Page-module--page--2nMky:nth-child(1n) {
    float: left;
    margin-right: 1.875rem;
    clear: none;
  }

  .Page-module--page--2nMky:last-child {
    margin-right: 0;
  }

  .Page-module--page--2nMky:nth-child(3n) {
    margin-right: 0;
    float: right;
  }

  .Page-module--page--2nMky:nth-child(3n + 1) {
    clear: both;
  }

  .Page-module--page__inner--2M_vz {
    padding: 2.5rem 2.1875rem;
  }
}

.Pagination-module--pagination--2H3nO {
  margin-top: 3.25rem;
  display: flex;
}

.Pagination-module--pagination__prev--bet5s {
  width: 50%;
  text-align: left;
}

.Pagination-module--pagination__prev-link--1Nzs6 {
  color: #f7a046;
  font-size: 1.625rem;
  font-weight: 700;
}

.Pagination-module--pagination__prev-link--1Nzs6:focus,
.Pagination-module--pagination__prev-link--1Nzs6:hover {
  color: #5d93ff;
}

.Pagination-module--pagination__prev-link--disable--Yklx9 {
  pointer-events: none;
  color: #bbb;
}

.Pagination-module--pagination__next--3hFiN {
  width: 50%;
  text-align: right;
}

.Pagination-module--pagination__next-link--3FUtA {
  color: #f7a046;
  font-size: 1.625rem;
  font-weight: 700;
}

.Pagination-module--pagination__next-link--3FUtA:focus,
.Pagination-module--pagination__next-link--3FUtA:hover {
  color: #5d93ff;
}

.Pagination-module--pagination__next-link--disable--30UwZ {
  pointer-events: none;
  color: #bbb;
}

.Author-module--author--2Yefr {
  border-top: 1px solid #e6e6e6;
  max-width: 40rem;
  padding-top: 1.25rem;
  line-height: 1.625rem;
  margin-top: 1.625rem;
  margin-bottom: 3.25rem;
}

.Author-module--author__bio-twitter--n-O9n {
  display: block;
  text-decoration: underline;
}

@media screen and (min-width: 685px) {
  .Author-module--author--2Yefr {
    margin-left: auto;
    margin-right: auto;
  }
}

.Content-module--content--3p512 {
  max-width: 59.0625rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.Content-module--content__title--2BDW9 {
  font-size: 2rem;
  max-width: 40rem;
  font-weight: 600;
  text-align: center;
  line-height: 2.68125rem;
  margin: 1.625rem auto 0;
}

.Content-module--content__body--2TrQ- figure {
  margin-bottom: 1.625rem;
}

.Content-module--content__body--2TrQ- figure blockquote {
  font-style: italic;
  text-align: center;
  margin-top: 0;
  padding: 1.625rem 0;
}

.Content-module--content__body--2TrQ- figure blockquote p {
  max-width: 40rem;
  font-size: 1.6817rem;
  margin-top: 0;
  margin-bottom: 1.625rem;
  line-height: 2.4375rem;
}

.Content-module--content__body--2TrQ- a {
  text-decoration: underline;
}

.Content-module--content__body--2TrQ- * {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.Content-module--content__body--2TrQ- img {
  max-width: 100%;
}

@media screen and (min-width: 960px) {
  .Content-module--content--3p512 {
    padding: 0;
  }

  .Content-module--content__title--2BDW9 {
    font-size: 3rem;
    line-height: 3.65625rem;
    margin-top: 3.65625rem;
    margin-bottom: 2.4375rem;
  }

  .Content-module--content__body--2TrQ-,
  .Content-module--content__body--2TrQ- p {
    font-size: 1.125rem;
    line-height: 1.82813rem;
    margin-bottom: 1.82813rem;
  }
}

.Meta-module--meta__date--29eD7 {
  font-style: italic;
}

.Tags-module--tags--1L_ct {
  margin-bottom: 0.8125rem;
}

.Tags-module--tags__list--91FqN {
  list-style: none;
  margin: 0 -0.625rem;
  padding: 0;
}

.Tags-module--tags__list-item--1M30P {
  display: inline-block;
  margin: 0.625rem 0.3125rem;
}

.Tags-module--tags__list-item-link--3SL_8 {
  display: inline-block;
  height: 2.1875rem;
  padding: 0 1.5rem;
  line-height: 2.1875rem;
  border: 1px solid #e6e6e6;
  text-decoration: none;
  border-radius: 1.25rem;
  color: #222;
}

.Tags-module--tags__list-item-link--3SL_8:focus,
.Tags-module--tags__list-item-link--3SL_8:hover {
  color: #5d93ff;
}

.Post-module--post__comments--25y6I,
.Post-module--post__footer--3WzWU {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.Post-module--post__home-button--16Kl0 {
  display: block;
  max-width: 5.625rem;
  height: 2.1875rem;
  padding: 0 1.5rem;
  line-height: 2.1875rem;
  text-align: center;
  color: #222;
  border: 1px solid #e6e6e6;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.625rem;
}

.Post-module--post__home-button--16Kl0:focus,
.Post-module--post__home-button--16Kl0:hover {
  color: #5d93ff;
}

@media screen and (min-width: 960px) {
  .Post-module--post__comments--25y6I,
  .Post-module--post__footer--3WzWU {
    padding: 0;
  }

  .Post-module--post__home-button--16Kl0 {
    position: fixed;
    max-width: auto;
    margin: 0;
    top: 30px;
    left: 30px;
  }
}

.mjx-chtml {
  display: inline-block;
  line-height: 0;
  text-indent: 0;
  text-align: left;
  text-transform: none;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  font-size-adjust: none;
  letter-spacing: normal;
  word-wrap: normal;
  word-spacing: normal;
  white-space: nowrap;
  float: none;
  direction: ltr;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  border: 0;
  margin: 0;
  padding: 1px 0;
}

.MJXc-display {
  display: block;
  text-align: center;
  margin: 1em 0;
  padding: 0;
}

.mjx-chtml[tabindex]:focus,
body :focus .mjx-chtml[tabindex] {
  display: inline-table;
}

.mjx-full-width {
  text-align: center;
  display: table-cell !important;
  width: 10000em;
}

.mjx-math {
  display: inline-block;
  border-collapse: separate;
  border-spacing: 0;
}

.mjx-math * {
  display: inline-block;
  box-sizing: content-box !important;
  text-align: left;
}

.mjx-denominator,
.mjx-numerator {
  display: block;
  text-align: center;
}

.MJXc-stacked {
  height: 0;
  position: relative;
}

.MJXc-stacked > * {
  position: absolute;
}

.mjx-stack,
.MJXc-bevelled > * {
  display: inline-block;
}

.mjx-op {
  display: block;
}

.mjx-under {
  display: table-cell;
}

.mjx-over {
  display: block;
}

.mjx-over > *,
.mjx-under > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mjx-prestack > .mjx-presub,
.mjx-prestack > .mjx-presup,
.mjx-stack > .mjx-sub,
.mjx-stack > .mjx-sup {
  display: block;
}

.mjx-delim-h > .mjx-char {
  display: inline-block;
}

.mjx-surd {
  vertical-align: top;
}

.mjx-surd + .mjx-box {
  display: inline-flex;
}

.mjx-mphantom * {
  visibility: hidden;
}

.mjx-merror {
  background-color: #ff8;
  color: #c00;
  border: 1px solid #c00;
  padding: 2px 3px;
  font-style: normal;
  font-size: 90%;
}

.mjx-annotation-xml {
  line-height: normal;
}

.mjx-menclose > svg {
  fill: none;
  stroke: currentColor;
  overflow: visible;
}

.mjx-mlabeledtr,
.mjx-mtr {
  display: table-row;
}

.mjx-mtd {
  display: table-cell;
  text-align: center;
}

.mjx-label {
  display: table-row;
}

.mjx-box {
  display: inline-block;
}

.mjx-block {
  display: block;
}

.mjx-span {
  display: inline;
}

.mjx-char {
  display: block;
  white-space: pre;
}

.mjx-itable {
  display: inline-table;
  width: auto;
}

.mjx-row {
  display: table-row;
}

.mjx-cell {
  display: table-cell;
}

.mjx-table {
  display: table;
  width: 100%;
}

.mjx-line {
  display: block;
  height: 0;
}

.mjx-strut {
  width: 0;
  padding-top: 1em;
}

.mjx-vsize {
  width: 0;
}

.MJXc-space1 {
  margin-left: 0.167em;
}

.MJXc-space2 {
  margin-left: 0.222em;
}

.MJXc-space3 {
  margin-left: 0.278em;
}

.mjx-test.mjx-test-display {
  display: table !important;
}

.mjx-test.mjx-test-inline {
  display: inline !important;
  margin-right: -1px;
}

.mjx-test.mjx-test-default {
  display: block !important;
  clear: both;
}

.mjx-ex-box {
  display: inline-block !important;
  position: absolute;
  overflow: hidden;
  min-height: 0;
  max-height: none;
  padding: 0;
  border: 0;
  margin: 0;
  width: 1px;
  height: 60ex;
}

.mjx-test-inline .mjx-left-box {
  display: inline-block;
  width: 0;
  float: left;
}

.mjx-test-inline .mjx-right-box {
  display: inline-block;
  width: 0;
  float: right;
}

.mjx-test-display .mjx-right-box {
  display: table-cell !important;
  width: 10000em !important;
  min-width: 0;
  max-width: none;
  padding: 0;
  border: 0;
  margin: 0;
}

.MJXc-TeX-unknown-R {
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
}

.MJXc-TeX-unknown-I {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
}

.MJXc-TeX-unknown-B {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
}

.MJXc-TeX-unknown-BI {
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
}

.MJXc-TeX-ams-R {
  font-family: MJXc-TeX-ams-R, MJXc-TeX-ams-Rw;
}

.MJXc-TeX-cal-B {
  font-family: MJXc-TeX-cal-B, MJXc-TeX-cal-Bx, MJXc-TeX-cal-Bw;
}

.MJXc-TeX-frak-R {
  font-family: MJXc-TeX-frak-R, MJXc-TeX-frak-Rw;
}

.MJXc-TeX-frak-B {
  font-family: MJXc-TeX-frak-B, MJXc-TeX-frak-Bx, MJXc-TeX-frak-Bw;
}

.MJXc-TeX-math-BI {
  font-family: MJXc-TeX-math-BI, MJXc-TeX-math-BIx, MJXc-TeX-math-BIw;
}

.MJXc-TeX-sans-R {
  font-family: MJXc-TeX-sans-R, MJXc-TeX-sans-Rw;
}

.MJXc-TeX-sans-B {
  font-family: MJXc-TeX-sans-B, MJXc-TeX-sans-Bx, MJXc-TeX-sans-Bw;
}

.MJXc-TeX-sans-I {
  font-family: MJXc-TeX-sans-I, MJXc-TeX-sans-Ix, MJXc-TeX-sans-Iw;
}

.MJXc-TeX-script-R {
  font-family: MJXc-TeX-script-R, MJXc-TeX-script-Rw;
}

.MJXc-TeX-type-R {
  font-family: MJXc-TeX-type-R, MJXc-TeX-type-Rw;
}

.MJXc-TeX-cal-R {
  font-family: MJXc-TeX-cal-R, MJXc-TeX-cal-Rw;
}

.MJXc-TeX-main-B {
  font-family: MJXc-TeX-main-B, MJXc-TeX-main-Bx, MJXc-TeX-main-Bw;
}

.MJXc-TeX-main-I {
  font-family: MJXc-TeX-main-I, MJXc-TeX-main-Ix, MJXc-TeX-main-Iw;
}

.MJXc-TeX-main-R {
  font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw;
}

.MJXc-TeX-math-I {
  font-family: MJXc-TeX-math-I, MJXc-TeX-math-Ix, MJXc-TeX-math-Iw;
}

.MJXc-TeX-size1-R {
  font-family: MJXc-TeX-size1-R, MJXc-TeX-size1-Rw;
}

.MJXc-TeX-size2-R {
  font-family: MJXc-TeX-size2-R, MJXc-TeX-size2-Rw;
}

.MJXc-TeX-size3-R {
  font-family: MJXc-TeX-size3-R, MJXc-TeX-size3-Rw;
}

.MJXc-TeX-size4-R {
  font-family: MJXc-TeX-size4-R, MJXc-TeX-size4-Rw;
}

.MJXc-TeX-vec-R {
  font-family: MJXc-TeX-vec-R, MJXc-TeX-vec-Rw;
}

.MJXc-TeX-vec-B {
  font-family: MJXc-TeX-vec-B, MJXc-TeX-vec-Bx, MJXc-TeX-vec-Bw;
}

@font-face {
  font-family: MJXc-TeX-ams-R;
  src: local('MathJax_AMS'), local('MathJax_AMS-Regular');
}

@font-face {
  font-family: MJXc-TeX-ams-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_AMS-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_AMS-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_AMS-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-cal-B;
  src: local('MathJax_Caligraphic Bold'), local('MathJax_Caligraphic-Bold');
}

@font-face {
  font-family: MJXc-TeX-cal-Bx;
  src: local('MathJax_Caligraphic');
  font-weight: 700;
}

@font-face {
  font-family: MJXc-TeX-cal-Bw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Bold.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Bold.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Bold.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-frak-R;
  src: local('MathJax_Fraktur'), local('MathJax_Fraktur-Regular');
}

@font-face {
  font-family: MJXc-TeX-frak-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-frak-B;
  src: local('MathJax_Fraktur Bold'), local('MathJax_Fraktur-Bold');
}

@font-face {
  font-family: MJXc-TeX-frak-Bx;
  src: local('MathJax_Fraktur');
  font-weight: 700;
}

@font-face {
  font-family: MJXc-TeX-frak-Bw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Fraktur-Bold.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Fraktur-Bold.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Fraktur-Bold.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-math-BI;
  src: local('MathJax_Math BoldItalic'), local('MathJax_Math-BoldItalic');
}

@font-face {
  font-family: MJXc-TeX-math-BIx;
  src: local('MathJax_Math');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: MJXc-TeX-math-BIw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Math-BoldItalic.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Math-BoldItalic.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Math-BoldItalic.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-sans-R;
  src: local('MathJax_SansSerif'), local('MathJax_SansSerif-Regular');
}

@font-face {
  font-family: MJXc-TeX-sans-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-sans-B;
  src: local('MathJax_SansSerif Bold'), local('MathJax_SansSerif-Bold');
}

@font-face {
  font-family: MJXc-TeX-sans-Bx;
  src: local('MathJax_SansSerif');
  font-weight: 700;
}

@font-face {
  font-family: MJXc-TeX-sans-Bw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Bold.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Bold.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Bold.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-sans-I;
  src: local('MathJax_SansSerif Italic'), local('MathJax_SansSerif-Italic');
}

@font-face {
  font-family: MJXc-TeX-sans-Ix;
  src: local('MathJax_SansSerif');
  font-style: italic;
}

@font-face {
  font-family: MJXc-TeX-sans-Iw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_SansSerif-Italic.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_SansSerif-Italic.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_SansSerif-Italic.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-script-R;
  src: local('MathJax_Script'), local('MathJax_Script-Regular');
}

@font-face {
  font-family: MJXc-TeX-script-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Script-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Script-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Script-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-type-R;
  src: local('MathJax_Typewriter'), local('MathJax_Typewriter-Regular');
}

@font-face {
  font-family: MJXc-TeX-type-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Typewriter-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Typewriter-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Typewriter-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-cal-R;
  src: local('MathJax_Caligraphic'), local('MathJax_Caligraphic-Regular');
}

@font-face {
  font-family: MJXc-TeX-cal-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Caligraphic-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Caligraphic-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Caligraphic-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-main-B;
  src: local('MathJax_Main Bold'), local('MathJax_Main-Bold');
}

@font-face {
  font-family: MJXc-TeX-main-Bx;
  src: local('MathJax_Main');
  font-weight: 700;
}

@font-face {
  font-family: MJXc-TeX-main-Bw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Main-Bold.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Main-Bold.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Main-Bold.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-main-I;
  src: local('MathJax_Main Italic'), local('MathJax_Main-Italic');
}

@font-face {
  font-family: MJXc-TeX-main-Ix;
  src: local('MathJax_Main');
  font-style: italic;
}

@font-face {
  font-family: MJXc-TeX-main-Iw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Main-Italic.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Main-Italic.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Main-Italic.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-main-R;
  src: local('MathJax_Main'), local('MathJax_Main-Regular');
}

@font-face {
  font-family: MJXc-TeX-main-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-math-I;
  src: local('MathJax_Math Italic'), local('MathJax_Math-Italic');
}

@font-face {
  font-family: MJXc-TeX-math-Ix;
  src: local('MathJax_Math');
  font-style: italic;
}

@font-face {
  font-family: MJXc-TeX-math-Iw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Math-Italic.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Math-Italic.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-size1-R;
  src: local('MathJax_Size1'), local('MathJax_Size1-Regular');
}

@font-face {
  font-family: MJXc-TeX-size1-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Size1-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Size1-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Size1-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-size2-R;
  src: local('MathJax_Size2'), local('MathJax_Size2-Regular');
}

@font-face {
  font-family: MJXc-TeX-size2-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Size2-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Size2-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Size2-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-size3-R;
  src: local('MathJax_Size3'), local('MathJax_Size3-Regular');
}

@font-face {
  font-family: MJXc-TeX-size3-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Size3-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Size3-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Size3-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-size4-R;
  src: local('MathJax_Size4'), local('MathJax_Size4-Regular');
}

@font-face {
  font-family: MJXc-TeX-size4-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Size4-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Size4-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Size4-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-vec-R;
  src: local('MathJax_Vector'), local('MathJax_Vector-Regular');
}

@font-face {
  font-family: MJXc-TeX-vec-Rw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Vector-Regular.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Vector-Regular.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Vector-Regular.otf)
      format('opentype');
}

@font-face {
  font-family: MJXc-TeX-vec-B;
  src: local('MathJax_Vector Bold'), local('MathJax_Vector-Bold');
}

@font-face {
  font-family: MJXc-TeX-vec-Bx;
  src: local('MathJax_Vector');
  font-weight: 700;
}

@font-face {
  font-family: MJXc-TeX-vec-Bw;
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/eot/MathJax_Vector-Bold.eot);
  src: url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/woff/MathJax_Vector-Bold.woff)
      format('woff'),
    url(https://cdn.jsdelivr.net/npm/mathjax@2.7.8/fonts/HTML-CSS/TeX/otf/MathJax_Vector-Bold.otf)
      format('opentype');
} */
